<section class="footer3 cid-rRDbhnW3K2" id="footer3-b">
    <div class="container">
      <div class="media-container-row content">
        <div class="col-md-2 col-sm-4">
          <div class="mb-3 img-logo">
            <a href="#">
              <img
                src="assets/images/madhur-1-250x95.png"
                alt="Madhur Couriers"
                title=""
              />
            </a>
          </div>
          <p class="mbr-fonts-style foot-logo display-7">
            Jain Corier Services
          </p>
        </div>
        <div class="col-md-3 col-sm-4">
          <p class="mb-4 mbr-fonts-style foot-title display-7">RECENT NEWS</p>
          <p class="mbr-text mbr-links-column mbr-fonts-style display-7">
            <a href="#" class="text-black">About us</a>
            <br /><a href="#" class="text-black">Services</a> <br /><a
              href="#"
              class="text-black"
              >Selected Work</a
            >
            <br /><a href="#" class="text-black">Get In Touch</a> <br /><a
              href="#"
              class="text-black"
              >Careers</a
            >
          </p>
        </div>
        <div class="col-md-3 col-sm-4">
          <p class="mb-4 mbr-fonts-style foot-title display-7">CATEGORIES</p>
          <p class="mbr-text mbr-fonts-style mbr-links-column display-7">
            <a href="#" class="text-black">Business</a>
            <br /><a href="#" class="text-black">Design</a> <br /><a
              href="#"
              class="text-black"
              >Real life</a
            >
            <br /><a href="#" class="text-black">Science</a> <br /><a
              href="#"
              class="text-black"
              >Tech</a
            >
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <p class="mb-4 mbr-fonts-style foot-title display-7">SUBSCRIBE</p>
          <p class="mbr-text form-text mbr-fonts-style display-7">
            Get monthly updates and free resources.
          </p>
          <div class="media-container-column" data-form-type="formoid">
            <div data-form-alert="" hidden="" class="align-center">
              Thanks for filling out the form!
            </div>

            <form
              class="form-inline"
              action="#"
              method="post"
              data-form-title="Mobirise Form"
            >
              <input
                type="hidden"
                value="tXuQDEKRysEyEPZBmDMGZ0XX3ldIw4PpeN0aFAuzOs4j78FfblCzw/pMGqB4xFdgbLUTnANNIS1Be8lYu3dX04/roB0VA+dUhaFAGTxGIn1c0ThlhBWgi+M0QM8orm7o"
                data-form-email="true"
              />
              <div class="form-group">
                <input
                  type="email"
                  class="form-control input-sm input-inverse my-2"
                  name="email"
                  required=""
                  data-form-field="Email"
                  placeholder="Email"
                  id="email-footer3-b"
                />
              </div>
              <div class="input-group-btn m-2">
                <button
                  href=""
                  class="btn btn-primary display-4"
                  type="submit"
                  role="button"
                >
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-lower">
        <div class="media-container-row">
          <div class="col-sm-12">
            <hr />
          </div>
        </div>
        <div class="media-container-row">
          <div class="col-sm-6 copyright">
            <p class="mbr-text mbr-fonts-style display-7">
              © Copyright 2023 Jain Courier Services - All Rights Reserved
            </p>
          </div>
          <div class="col-md-6">
            <div class="social-list align-right">
              <div class="soc-item">
                <a href="#" target="_blank">
                  <span
                    class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
                </a>
              </div>
              <div class="soc-item">
                <a href="#" target="_blank">
                  <span
                    class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
                </a>
              </div>
              <div class="soc-item">
                <a href="#" target="_blank">
                  <span
                    class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
                </a>
              </div>
              <div class="soc-item">
                <a href="#" target="_blank">
                  <span
                    class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
                </a>
              </div>
              <div class="soc-item">
                <a href="#" target="_blank">
                  <span
                    class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
                </a>
              </div>
              <div class="soc-item">
                <a href="#" target="_blank">
                  <span
                    class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"
                  ></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p style="text-align: center">
      Made with ❤️ by
      <a style="color: #000" href="https://github.com/007abhishek"
        >Abhishek Jain</a
      >
    </p>
  </section>

  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="assets/mbr-clients-slider/mbr-clients-slider.js"></script>
  <script src="assets/mbr-flip-card/mbr-flip-card.js"></script>
  <script src="assets/as-pie-progress/jquery-as-pie-progress.min.js"></script>
  <script src="assets/sociallikes/social-likes.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>

  <div id="scrollToTop" class="scrollToTop mbr-arrow-up">
    <a style="text-align: center"><i></i></a>
  </div>

  <img
    src="assets/images/chat.png"
    class="open-button"
    onclick="openForm()"
    style="max-width: 10%; height: auto"
    alt="Let us know how we can help you!"
  />

  <div class="chat-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <h1>Chat</h1>

      <label for="msg"><b>Message</b></label>
      <textarea placeholder="Type message.." name="msg" required></textarea>

      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">
        Close
      </button>
    </form>
  </div>

  <div id="myOverlay" class="overlay">
    <span class="closebtn" onclick="closeSearch()" title="Close Overlay"
      >×</span
    >
    <div class="overlay-content">
      <form action="/action_page.php">
        <input
          type="text"
          placeholder="Enter Your Consignment/LR No here "
          name="search"
        />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <script>
    function openSearch() {
      document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
      document.getElementById("myOverlay").style.display = "none";
    }
  </script>
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
  <input name="animation" type="hidden" />
</body>
</html>