<!DOCTYPE html>
<html>
  <head>
    <!-- Site made with Mobirise Website Builder v4.8.2, https://mobirise.com -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="generator" content="Mobirise v4.8.2, mobirise.com" /> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link
      rel="shortcut icon"
      href="assets/images/madhur-1-250x95.png"
      type="image/x-icon"
    />
    <meta name="description" content="" />
    <title>Jain Courier Services</title>
    <link
      rel="stylesheet"
      href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css"
    />
    <link
      rel="stylesheet"
      href="assets/web/assets/mobirise-icons/mobirise-icons.css"
    />
    <link rel="stylesheet" href="assets/tether/tether.min.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css" />
    <link
      rel="stylesheet"
      href="assets/bootstrap/css/bootstrap-reboot.min.css"
    />
    <link rel="stylesheet" href="assets/dropdown/css/style.css" />
    <link rel="stylesheet" href="assets/animatecss/animate.min.css" />
    <link rel="stylesheet" href="assets/as-pie-progress/css/progress.min.css" />
    <link rel="stylesheet" href="assets/socicon/css/styles.css" />
    <link rel="stylesheet" href="assets/theme/css/style.css" />
    <link
      rel="stylesheet"
      href="assets/mobirise/css/mbr-additional.css"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/login-register.js" type="text/javascript"></script>

    <style>
      .body {
        box-sizing: border-box;
      }
      .openBtn {
        background: #f1f1f1;
        border: none;
        padding: 10px 15px;
        font-size: 20px;
        cursor: pointer;
      }

      .openBtn:hover {
        background: #bbb;
      }

      .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(200, 200, 200, 0.9);
      }

      .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
      }

      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
      }

      .overlay .closebtn:hover {
        color: #ccc;
      }

      .overlay input[type="text"] {
        padding: 15px;
        font-size: 17px;
        border: none;
        float: left;
        width: 80%;
        background: white;
      }

      .overlay input[type="text"]:hover {
        background: #f1f1f1;
      }

      .overlay button {
        float: left;
        width: 20%;
        padding: 15px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }

      .overlay button:hover {
        background: #bbb;
      }
    </style>

    <script>
      $(document).ready(function () {
        $("#myModal12").modal("show");
      });
    </script>
  </head>

  <body>
    <section class="menu cid-rRAIDQeDHN" once="menu" id="menu2-0">
      <nav
        class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent"
      >
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="menu-logo">
          <div class="navbar-brand">
            <span class="navbar-logo">
              <a href="#">
                <img
                  src="assets/images/madhur-250x95.png"
                  alt="Madhur Couriers"
                  title=""
                  style="height: 5rem"
                />
              </a>
            </span>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item">
              <a class="nav-link link text-black display-2" href="/"> Home</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link link text-black display-2"
                href="Network"
                target="_blank"
              >
                Network
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-black display-2" href="Service">
                Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-black display-2" href="Solution">
                Solutions</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link link text-black display-2" href="About">
                About Us
              </a>
            </li>

            <div class="dropdown show">
              <a
                class="btn btn-secondary"
                href="Login"
                role="button"
                id="dropdownMenuLink"
                aria-expanded="false"
              >
                Login
              </a>

              <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"> -->
              <!-- <a class="text-black dropdown-item display-2 data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Client Login</a> -->
              <!-- <a class="text-black dropdown-item display-2 data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Partner Login</a> -->
              <!-- </div> -->

              <a
                class="btn btn-secondary"
                href="Track"
                target="_blank"
                role="button"
                id=""
                data-toggle=""
                aria-haspopup="true"
                aria-expanded="false"
              >
                Track Consignment
              </a>
            </div>
          </ul>
        </div>
      </nav>
    </section>
