<%- include('partials/header') %>

<div class="container" style="margin-top: 10%">
  <div class="row pt-5 pb-5">
    <div class="col">
      <div class="row">
        <div class="col-lg-12 pb-sm-4 pb-lg-0 pe-lg-5">
          <h1
            class="text-color-dark font-weight-normal mb-2 text-7 mobilepadding-top-20 abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          >
            <strong>Industries we serve </strong>
          </h1>
          <div class="heading-bottom-border mb-4"></div>

          <p>
            Jain Courier Service is one of India’s leading integrated express
            logistics providers that caters to multiple industries globally.
            With our vast express delivery network, cutting-edge technology,
            strong global partnerships, and state-of-the-art infrastructure
            facilities, we consistently deliver value to customers globally.
          </p>
          <p>
            We are the one-stop logistics solution for some of the top
            corporations across diverse industries including automotive,
            pharmaceutical, fashion, consumer electronics, BFSI and many more.
          </p>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-sm-8 col-md-6 col-lg-6 position-relative mb-lg-0">
          <img
            src="assets/images/automobile-Industry.png"
            alt="Automobile Industry"
            class="img-fluid abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          />
        </div>
        <div class="col-lg-6 pb-sm-4 pb-lg-0 pe-lg-5">
          <h1
            class="text-color-dark font-weight-normal mb-2 text-7 mobilepadding-top-20 abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          >
            <strong>Automobile Industry </strong>
          </h1>
          <div class="heading-bottom-border mb-4"></div>
          <p>
            Jain Courier Service is trusted by leading manufacturers and
            suppliers of automotive components. We have a strong presence in all
            major automobile manufacturing clusters as well as extensive
            extensive delivery network in Tier 2 & 3 cities thus enabling our
            clients to transport spare parts, accessories, and much more to
            their dealers and customers in a timely and cost-effective manner.
          </p>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-md-6 order-2">
          <div class="overflow-hidden">
            <h1
              class="text-color-dark font-weight-normal mb-2 text-7 abox-shadow-1 appear-animation"
              data-appear-animation="fadeInUpShorter"
              data-appear-animation-delay="500"
            >
              <strong>Pharmaceutical Industry </strong>
            </h1>
            <div class="heading-bottom-border mb-4"></div>
            <p>
              Pharmaceutical companies require temperature-controlled shipments
              to transport critical items such as medicines and vaccines. We use
              a special packaging solution with up to 28 litres capacity and
              offer multiple cooling agents as per our client’s refrigeration
              requirements. Our cutting-edge IoT-enabled solution allows our
              clients to track their package in real time and monitor its
              temperature, humidity, and shock impact during shipping.
            </p>

            <p>
              During the COVID-19 pandemic, we at Jain Courier Service
              successfully used our temperature-controlled packaging to
              transport 39,000 doses of covid vaccines across the country.
            </p>
          </div>
        </div>
        <div class="col-md-6 order-md-2 mb-4 mb-lg-0 fadeInRightShorter">
          <img
            src="assets/images/pharmaceutical-industry.png"
            alt="Pharmaceutical Industry"
            class="img-fluid abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          />
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-sm-8 col-md-6 col-lg-6 position-relative mb-lg-0">
          <img
            src="assets/images/fashion-industry.png"
            alt="Fashion Industry"
            class="img-fluid abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          />
        </div>
        <div class="col-lg-6 pb-sm-4 pb-lg-0 pe-lg-5">
          <h1
            class="text-color-dark font-weight-normal mb-2 text-7 mobilepadding-top-20 abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          >
            <strong>Fashion Industry </strong>
          </h1>
          <div class="heading-bottom-border mb-4"></div>
          <p>
            We provide end-to-end logistics solutions to premium brands in the
            fashion industry. As part of our integrated solutions, we provide
            appointment based direct-to-store, warehouse-to-warehouse/fulfilment
            centre and multi-brand outlets (MBO) delivery and returns solutions.
          </p>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-md-6 order-2">
          <div class="overflow-hidden">
            <h1
              class="text-color-dark font-weight-normal mb-2 text-7 abox-shadow-1 appear-animation"
              data-appear-animation="fadeInUpShorter"
              data-appear-animation-delay="500"
            >
              <strong>Consumer Durables and Electronics </strong>
            </h1>
            <div class="heading-bottom-border mb-4"></div>
            <p>
              We serve as a third-party logistics provider to retailers and
              e-commerce merchants including some of the leading consumer
              electronics companies in the world. With a vast network of
              automated hubs, warehouses and operational facilities that include
              fulfilment and micro-fulfilment centres, we enable electronics
              companies to deliver all over India within the shortest possible
              time frame. We have developed a special packaging solution that
              ensures a secure transportation of electronic devices and consumer
              durables.
            </p>
          </div>
        </div>
        <div
          class="col-md-6 order-md-2 mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible"
          data-appear-animation="fadeInRightShorter"
          style="animation-delay: 100ms"
        >
          <img
            src="assets/images/consumer-durables-electronics.png"
            alt=">Consumer Durables and Electronics"
            class="img-fluid abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          />
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-sm-8 col-md-6 col-lg-6 position-relative mb-lg-0">
          <img
            src="assets/images/banking-financial-services.png"
            alt="Banking and Financial Services"
            class="img-fluid abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          />
        </div>
        <div class="col-lg-6 pb-sm-4 pb-lg-0 pe-lg-5">
          <h1
            class="text-color-dark font-weight-normal mb-2 text-7 mobilepadding-top-20 abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          >
            <strong>Banking and Financial Services </strong>
          </h1>
          <div class="heading-bottom-border mb-4"></div>
          <p>
            The BFSI sector comprises an important part of our clientele. Such
            companies often need to send debit/credit cards, PINs, and account
            statements to their customers. Through our pan-India presence,
            covering over 96% of the population, we enable banks and financial
            service providers to improve accessibility of their services.
            Additionally, we provide a secure KYC enabled delivery solution for
            their shipments adhering to the industry standards.
          </p>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-md-6 order-2">
          <div class="overflow-hidden">
            <h1
              class="text-color-dark font-weight-normal mb-2 text-7 abox-shadow-1 appear-animation"
              data-appear-animation="fadeInUpShorter"
              data-appear-animation-delay="500"
            >
              <strong>IT </strong>
            </h1>
            <div class="heading-bottom-border mb-4"></div>
            <p>
              Organisations often use our services to deliver work-from-home
              devices such as laptops, desktop computers, tablets, and mobile
              phones to their employees’ homes. We offer quick day-definite
              deliveries and peer-to-peer deliveries, while keeping both
              convenience and transparency intact. We also offer reverse
              delivery services whenever our clients’ employees need to return
              equipment to the office. Special packaging is used to ensure that
              the electronic devices are transported safely. We also bear the
              insurance costs to further minimise the risk for our clients.
              During the COVID-19 pandemic, Jain Courier Service successfully
              enabled several multinational IT organisations to work remotely by
              transporting the necessary equipment to their employees’
              residences across India within a short time frame.
            </p>
          </div>
        </div>
        <div
          class="col-md-6 order-md-2 mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible"
          data-appear-animation="fadeInRightShorter"
          style="animation-delay: 100ms"
        >
          <img
            src="assets/images/IT.png"
            alt="IT"
            class="img-fluid abox-shadow-1 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
